<IfModule mod_headers.c>
  # SetEnvIf Origin "http(s)?://(qt-hf-api\.services\.palo|localhost)$" AccessControlAllowOrigin=$0
  Header always set Access-Control-Allow-Origin "qt-hf-api.services.palo"
  Header always set Access-Control-Allow-Methods "GET, POST"
  Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, X-API-KEY"

  # Enable CORS for credentials (cookies, HTTP authentication)
  Header always set Access-Control-Allow-Credentials "true"
</IfModule>

RewriteEngine on
RewriteRule ^$ public/index.php [L]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
